.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-form {

    &__header {
      text-align: center;
    }

    &__email-field {
      margin-bottom: 20px;
    }

    &__button {
      text-align: center;
    }
  }

}